<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IProduct" />
                <binding name="BasicHttpBinding_IWarehouseSocet" />
                <binding name="BasicHttpBinding_IPackage" />
                <binding name="BasicHttpBinding_ISocetProducts" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57498/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="WarehouseService.IService"
                name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:57498/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProduct" contract="WarehouseService.IProduct"
                name="BasicHttpBinding_IProduct" />
            <endpoint address="http://localhost:57498/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWarehouseSocet" contract="WarehouseService.IWarehouseSocet"
                name="BasicHttpBinding_IWarehouseSocet" />
            <endpoint address="http://localhost:57498/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPackage" contract="WarehouseService.IPackage"
                name="BasicHttpBinding_IPackage" />
            <endpoint address="http://localhost:57498/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISocetProducts" contract="WarehouseService.ISocetProducts"
                name="BasicHttpBinding_ISocetProducts" />
        </client>
    </system.serviceModel>
</configuration>